{% extends 'adminapp/base.html' %}

{% load static %}

{% block head %}
<title>Ground Zero - Iniciar Sesión</title>
{% endblock %}

{% block body %}
<main class="auth__container">
    <div class="auth__left-image">
        <img src="{% static 'core/illustrations/painting.svg' %}" alt="" />
    </div>
    <form method="POST" class="auth__form">
        {% csrf_token %}
        <div class="auth__form-title">
            <h3>
                Inicio de administración<br />
                🎨
            </h3>
        </div>

        {% if mensaje.error %}
            <div class="alert alert-danger">{{ mensaje.error }}</div>
        {% endif %}

        {% if formulario.errors %}
          {% for field in formulario %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in formulario.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
        
        {% for field in formulario %}
        <div class="auth__field">
           {{ field.label_tag }}
           {{ field }}
        </div>
        {% endfor %}
        <div class="auth__btn">
            <button>Entrar</button>
        </div>
    </form>
    <div class="auth__right-image">
        <img src="{% static 'core/illustrations/sculping.svg' %}" alt="" />
    </div>
</main>
{% endblock %}