{% extends 'adminapp/base.html' %} {% load static %} {% block head %}
<title>Ground Zero - Administración</title>
<link rel="stylesheet" href="{% static 'adminapp/css/admin.css' %}" />
{% endblock %} {% block body %}
<div class="admin-main">
  <div class="admin-info">
    <h1>Elver Galarga</h1>
    <span>Administrador</span>
    <img src="{% static 'adminapp/img/admin-avatar.png' %}" alt="Imagen de perfil" />
  </div>
  <div class="admin-card">
    <h2>Lista de artes subidas</h2>
    <div class="latest-art">
      {% for arte in artes %}
      <div class="art-item">
        <div class="art-info">
          <p><b>Autor:</b> <span>{{arte.idArtista}}</span></p>
          <p><b>Nombre:</b> <span>{{arte.nombreArte}}</span></p>
        </div>
        <img src="{{arte.get_first_image.imagen.url}}" alt="" />
        <div class="art-buttons">
          <a href="{% url 'admin-del-arte' arte.idArte %}"><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            focusable="false"
            width="2em"
            height="2em"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
              fill="red"
            /></svg
          ></a>
          <a href="{% url 'admin-mod-arte' arte.idArte %}"><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            focusable="false"
            width="2em"
            height="2em"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75l1.83-1.83z"
              fill="orange"
            />
          </svg></a>
        </div>
      </div>
      {% endfor %}
      <button class="add-btn">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        focusable="false"
        width="3em"
        height="3em"
        style="
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        "
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
          fill="var(--main__green)"
        />
      </svg>
      </button>
    </div>
  </div>
  <form class="art-form" action="{% url 'admin-add-arte' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <header class="art-form__header">
      <h2>Nueva pieza de arte</h2>
      <button class="close-btn"><svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        focusable="false"
        width="2em"
        height="2em"
        style="
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        "
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 32 32"
      >
        <path
          d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4l-1.6 1.6z"
          fill="#fff"
        />
      </svg></button>
    </header>
    <div class="art-form__body">
      {% for field in formulario %}
      <div class="form-field">{{ field.label_tag }}{{ field }}</div>
      {% endfor %}      

      <div id="images-field" class="form-field">
      {% for form in formset %}
        <div class="form-field">
          {{ form }}
        </div>
      {% endfor %}

      {{ formset.management_form }}
      </div>
    </div>
    <footer class="art-form__footer">
      <button type="button" class="add-art" id="add-more-image" onclick="addImageField()">Agregar otra imagen</button>
      <button class="add-art">Agregar</button>
    </footer>
  </form>
</div>
{% endblock %} {% block scripts%}
<script src="{% static 'adminapp/js/main.js' %}"></script>
{% endblock %}
