{% extends 'core/base.html' %}

{% load static %}

{% block head %}
<title>Ground Zero - Iniciar Sesión</title>
{% endblock %}

{% block body %}
<main class="auth__container">
  <div class="auth__left-image">
    <img src="{% static 'core/illustrations/painting.svg' %}" alt="" />
  </div>
  <div class="auth__form">
    <div class="auth__form-title">
      <h3>
        Inicio de sesión <br />
        🎨
      </h3>
    </div>
    <div class="auth__field">
      <label>Usuario</label>
      <input
        type="text"
        placeholder="Nombre de usuario"
        autofocus
        required
      />
    </div>
    <div class="auth__field">
      <label>Contraseña</label>
      <input type="password" placeholder="Mínimo 8 caracteres" required />
    </div>
    <div class="auth__btn">
      <button>Entrar</button>
    </div>
    <div class="auth__redirection">
      <p>No tienes una cuenta? <a href="{% url 'register'%}">Registrarme</a></p>
    </div>
  </div>
  <div class="auth__right-image">
    <img src="{% static 'core/illustrations/sculping.svg' %}" alt="" />
  </div>
</main>
{% endblock %}